site_name: Ceramic Developers
site_url: https://developers.ceramic.network
site_description: Specs, docs, guides, and APIs for the Ceramic Network.
repo_url: https://github.com/ceramicnetwork/js-ceramic
repo_name: ceramicnetwork/js-ceramic
edit_uri: https://github.com/ceramicnetwork/docs/edit/main/docs/

# Copyright
copyright: 'Ceramic is open sourced under MIT and Apache 2'


theme:
  name: material
  custom_dir: overrides
  # 404 page
  static_templates:
    - 404.html
  palette:
    scheme: default 
  logo: images/ceramic-no-shadow.png
  icon:
    repo: fontawesome/brands/github-alt
  favicon: images/favicon.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.expand
    - navigation.sections
    - header.autohide

nav:
  - Learn:
    - Welcome: learn/welcome.md
    - Overview: learn/overview.md
    - Clients: learn/clients.md
    - Blog: learn/blog.md
    #- Networks: learn/networks.md
  - Try:
    - Explorers: try/explorers.md
    - Demos: try/sample-apps.md
    - Projects: try/projects.md
  - Build:
    - Quick Start: build/quick-start.md
    - Installation: build/installation.md
    - Configure your DID: build/configure-did.md
    - Authentication: build/authentication.md
    - Writes: build/writes.md
    - Queries: build/queries.md
    - Pinning: build/pinning.md
    - Share your work: build/share.md
    - Troubleshooting: build/troubleshooting.md
  - Run:
    - Running a node: run/nodes.md
    #- Anchor service: run/anchor-service.md
  - StreamTypes:
      - Overview: streamtypes/overview.md
      - Tile Document:
        - Overview: streamtypes/tile-document/overview.md
        - API: streamtypes/tile-document/api.md
        - Schemas:
          - BasicProfile: streamtypes/tile-document/schemas/basic-profile.md
          #- 3ID Keychain:
          #- Also Known As:
          #- AppendCollection:
      - CAIP-10 Link:
        - Overview: streamtypes/caip-10-link/overview.md
        - API: streamtypes/caip-10-link/api.md
  - Authentication:
    - DID Wallets:
      - 3ID Connect: authentication/wallets/3id-connect.md
    - DID Methods:
      #- Overview: tools/standards/dids/overview.md
      - 3ID DID: authentication/dids/3id.md
      - Key DID: authentication/dids/key.md
    - Legacy:
       - 3Box Migration: authentication/legacy/3id-connect-migration.md
  - Tools:
    - Identity:
      - IDX: tools/identity/idx.md
      - IdentityLink: tools/identity/identitylink.md
      - Self.id: tools/identity/self-id.md
    - Hosted nodes:
      - Community nodes: tools/hosted-nodes/community-nodes.md
      #- Services: tools/hosted-nodes/services.md
  - Reference:
    - JavaScript:
      - Clients: reference/javascript/clients.md
      - DID Resolvers: reference/javascript/did-resolvers.md
      - DID Providers: reference/javascript/did-providers.md
      - Support new Blockchain: reference/javascript/blockchain.md
      - Anchor Service: reference/javascript/anchor-service.md
    - HTTP API: reference/http-api.md
  - Chat: 'https://chat.ceramic.network'
  - Blog: 'https://blog.ceramic.network'

markdown_extensions:
  - meta
  - pymdownx.tabbed
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.smartsymbols
  - toc:
      permalink: true
      toc_depth: 3

extra:
  generator: false
  # Social icons in footer
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ceramicnetwork/ceramic
      name: Ceramicnetwork on Github
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ceramicnetwork
      name: Ceramicnetwork on Twitter

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascripts/tables.js

extra_css:
  - stylesheets/extra.css

plugins:
    - redirects:
        redirect_maps:
            'index.md': 'learn/welcome.md'
    - search
