site_name: Ceramic Developers
site_url: https://developers.ceramic.network
site_description: Specs, docs, guides, and APIs for the Ceramic Network.
repo_url: https://github.com/ceramicnetwork/js-ceramic
repo_name: ceramicnetwork/js-ceramic
edit_uri: https://github.com/ceramicnetwork/docs/edit/main/docs/
strict: true

# Copyright
copyright: 'Ceramic is open sourced under MIT and Apache 2'

theme:
  name: material
  custom_dir: overrides
  # 404 page
  static_templates:
    - 404.html
  palette:
    scheme: default
  logo: images/ceramic-no-shadow.png
  icon:
    repo: fontawesome/brands/github-alt
  favicon: images/favicon-ceramic.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - content.code.annotate
    - navigation.path
    - navigation.sections

nav:
  - Docs:
      - Introduction:
          - Welcome to Ceramic: learn/welcome.md
          - Why Ceramic?: learn/features.md
          #- How it works: learn/how-it-works.md
          #- Comparisons: learn/comparisons.md
          - Quick Start: build/cli/quick-start.md
          - Next Steps: docs/introduction/next-steps.md
      - Protocol:
          - Overview: protocol/overview.md
          - Streams:
              - Streams: protocol/streams/index.md
              - Event Log: protocol/streams/event-log.md
              - URI Scheme: protocol/streams/uri-scheme.md
              - Consensus: protocol/streams/consensus.md
              - Lifecycle: protocol/streams/lifecycle.md
          - Accounts:
              - Accounts: protocol/accounts/index.md
              - Decentralized IDs: protocol/accounts/decentralized-identifiers.md
              - Authorizations: protocol/accounts/authorizations.md
              - Object-Capabilities: protocol/accounts/object-capabilities.md
          - Networking:
              - Networking: protocol/networking/index.md
              - Networks: protocol/networking/networks.md
              - Tip Gossip: protocol/networking/tip-gossip.md
              - Tip Queries: protocol/networking/tip-queries.md
              - Event Fetching: protocol/networking/event-fetching.md
          - Ceramic API: protocol/api.md
          - Ceramic Nodes: protocol/nodes.md
      - Ecosystem:
          - Community: docs/ecosystem/community.md
          - Built on Ceramic: 'https://threebox.notion.site/Ceramic-Ecosystem-a3a7a58f81544d33ad3feb84368775d4'
          # - Roadmap: learn/roadmap.md
      #- Advanced:
      #- Tech overview: learn/advanced/overview.md
      #- Data availability: learn/advanced/data-availability.md
      #- Consensus: learn/advanced/consensus.md
      #- Security: learn/advanced/security.md
      #- Privacy: learn/advanced/privacy.md
  - Guides:
      - Guides: guides/index.md
      - Ceramic Nodes:
          - Running Locally: build/cli/installation.md
          - Running in the Cloud: run/nodes/nodes.md
      - Ceramic Clients:
          - JavaScript Client:
              - Basic Usage: reference/core-clients/ceramic-http.md
              - Queries: build/javascript/queries.md
              - Pinning: build/javascript/pinning.md
              - Additional Guides: build/javascript/quick-start.md
          - Authentication:
              - Basic Usage: reference/core-clients/did-jsonrpc.md
              - Key DID: reference/accounts/key-did.md
              - 3ID DID: reference/accounts/3id-did.md
              - DID Session: reference/accounts/did-session.md
          - Stream APIs:
              - Using Tile Documents: reference/stream-programs/tile-document.md
              - Using CAIP-10 Links: reference/stream-programs/caip10-link.md
  - Legacy Tools:
      - Legacy Tools: legacy/index.md
      - Self.ID SDK:
          - Self.ID SDK: reference/self-id/index.md
          #- Overview: tools/self-id/overview.md
          - React: tools/self-id/framework.md
          - JavaScript:
              - Read/Write: tools/self-id/write.md
              - Read-Only: tools/self-id/read.md
          - Configurations: tools/self-id/configuration.md
          - Utilities: tools/self-id/utilities.md
          - Samples: tools/self-id/sample-applications.md
          - Reference:
              - Framework: reference/self-id/modules/framework.md
              - React:
                  - React module: reference/self-id/modules/react.md
                  - ReactClient class: reference/self-id/classes/react.ReactClient.md
                  - RequestClient class: reference/self-id/classes/react.RequestClient.md
              - Web:
                  - Web module: reference/self-id/modules/web.md
                  - WebClient class: reference/self-id/classes/web.WebClient.md
                  - SelfID class: reference/self-id/classes/web.SelfID.md
              - Core:
                  - Core module: reference/self-id/modules/core.md
                  - Core class: reference/self-id/classes/core.Core.md
                  - PublicID class: reference/self-id/classes/core.PublicID.md
              - Utilities: reference/self-id/modules/image_utils.md
      - Glaze Suite:
          #- Middleware: build/middleware/index.md
          #- Overview: tools/overview.md
          - Glaze Suite: reference/glaze/index.md
            #- Overview: tools/glaze/overview.md
            #- Glossary: tools/glaze/glossary.md
          - IDX Database: tools/glaze/did-datastore.md
          - Data Models:
              - Registry: docs/advanced/standards/data-models/data-model-universe.md
              - Deploying from JS: tools/glaze/development.md
              - Deploying from CLI: tools/glaze/deploy-from-cli.md
              - Aliasing: tools/glaze/datamodel.md
          - Data Caching: tools/glaze/tile-loader.md
          - Reference:
              - DID DataStore:
                  - DID DataStore module: reference/glaze/modules/did_datastore.md
                  - DIDDataStore class: reference/glaze/classes/did_datastore.DIDDataStore.md
              - DataModel:
                  - DataModel module: reference/glaze/modules/datamodel.md
                  - DataModel class: reference/glaze/classes/datamodel.DataModel.md
              - DevTools:
                  - DevTools module: reference/glaze/modules/devtools.md
                  - ModelManager class: reference/glaze/classes/devtools.ModelManager.md
              - TileLoader:
                  - Tile loader module: reference/glaze/modules/tile_loader.md
                  - TileLoader class: reference/glaze/classes/tile_loader.TileLoader.md
              - Shared types: reference/glaze/modules/types.md
          # - docs/advanced/standards/application-protocols/index.md
      #   - Data model standards:
      #       - CIP-11 Identity Index: docs/advanced/standards/data-models/cip-11.md
      #       - CIP-19 Basic Profile: docs/advanced/standards/data-models/cip-19.md
      #       - CIP-21 Crypto Accounts: docs/advanced/standards/data-models/cip-21.md
      #       - CIP-23 Also Known As: docs/advanced/standards/data-models/cip-23.md
      #       - CIP-20 3ID Keychain: docs/advanced/standards/data-models/cip-20.md
      #- Application standards:
      #    - Account-based index (CIP-11): docs/advanced/standards/application-protocols/identity-index.md
      #- Streams:
      #    - Streams: docs/advanced/standards/stream-programs/index.md
      #    - Tile Document (CIP-8): docs/advanced/standards/stream-programs/tile-document.md
      #    - CAIP-10 Link (CIP-7): docs/advanced/standards/stream-programs/caip10-link.md
      # - Standards:
      # TODO: v2 index contents
      # - docs/advanced/standards/index.md
      #- Accounts:
      # TODO: v2 index contents
      #    - Accounts: docs/advanced/standards/accounts/index.md
      #    - 3ID DID (CIP-79): docs/advanced/standards/accounts/3id-did.md
      # TODO: v2 contents for PKH DID
      # - PKH DID: docs/advanced/standards/accounts/pkh-did.md
      #    - Key DID: docs/advanced/standards/accounts/key-did.md
      #    - NFT DID (CIP-94): docs/advanced/standards/accounts/nft-did.md
      #    - Safe DID (CIP-101): docs/advanced/standards/accounts/safe-did.md
      #- Clients:
      #    - Clients: build/clients/index.md
      #- Network APIs:
      # - JavaScript:
      #    - Installation:
      #        - HTTP Client: build/javascript/http.md
      #    - Authentication: build/javascript/authentication.md
      #    - Writes: build/javascript/writes.md
  #- Ecosystem:
  #- Use cases: learn/use-cases.md
  #- Projects: explore/projects.md
  #- Identity and reputation: index.md
  #- Decentralized social: index.md
  #- DAOs and governance: index.md
  #- NFTs and gaming: index.md
  #- Network explorers: explore/explorers.md
  #- Wallets: index.md
  #- Reference:
  #- Reference: reference/index.md
  #- Ceramic HTTP API: build/http/api.md
  #- Ceramic JS packages and API references: reference/javascript/packages.md
  - Forum: 'https://forum.ceramic.network'
markdown_extensions:
  - meta
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.smartsymbols
  - toc:
      permalink: true
      toc_depth: 3

extra:
  analytics:
    provider: google
    property: G-426ZZLPJPW
  generator: false
  # Social icons in footer
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ceramicnetwork/ceramic
      name: Ceramicnetwork on Github
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ceramicnetwork
      name: Ceramicnetwork on Twitter

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js

extra_css:
  - stylesheets/extra.css

plugins:
  - privacy:
      links_attr_map:
        target: _blank
  - redirects:
      redirect_maps:
        'index.md': 'learn/welcome.md'
        'try/explorers.md': 'explore/explorers.md'
        'try/sample-apps.md': 'explore/sample-apps.md'
        'try/projects.md': 'explore/projects.md'
        'authentication/wallets/3id-connect.md': 'docs/advanced/standards/accounts/3id-did.md' # v2 redirect
        'authentication/dids/3id.md': 'docs/advanced/standards/accounts/3id-did.md' # v2 redirect
        'authentication/dids/key.md': 'docs/advanced/standards/accounts/key-did.md' # v2 redirect
        'authentication/legacy/3id-connect-migration.md': 'pages/3box-migration.md' # v2 redirect
        'authentication/nft-did/method.md': 'docs/advanced/standards/accounts/nft-did.md' # link exists in the wild
        'reference/javascript/clients.md': 'build/javascript/http.md'
        'reference/javascript/did-resolvers.md': 'docs/advanced/standards/accounts/3id-did.md' # v2 redirect
        'reference/javascript/did-providers.md': 'docs/advanced/standards/accounts/3id-did.md' # v2 redirect
        'learn/clients.md': 'build/javascript/http.md'
        'build/configure-did.md': 'build/javascript/http.md'
        'run/nodes.md': 'run/nodes/nodes.md'
        'reference/javascript/anchor-service.md': 'run/cas/cas.md'
        'learn/data-availability.md': 'learn/advanced/data-availability.md'
        'learn/overview.md': 'learn/advanced/overview.md'
        'clients/javascript/cli.md': 'build/cli/installation.md'
        'build/installation.md': 'build/javascript/installation.md'
        'clients/javascript/http.md': 'build/javascript/http.md'
        'build/authentication.md': 'build/javascript/authentication.md'
        'build/writes.md': 'build/javascript/writes.md'
        'build/queries.md': 'build/javascript/queries.md'
        'build/pinning.md': 'build/javascript/pinning.md'
        'reference/http-api.md': 'build/http/api.md'
        'tools/hosted-nodes/community-nodes.md': 'run/nodes/community-nodes.md'
        'tools/hosted-nodes/node-providers.md': 'run/nodes/node-providers.md'
        'tools/identity/idx.md': 'docs/advanced/standards/application-protocols/identity-index.md' # v2 redirect
        'tools/identity/identitylink.md': 'tools/identitylink/overview.md'
        'tools/identity/self-id.md': 'tools/self-id/overview.md'
        'build/quick-start.md': 'build/cli/quick-start.md'
        # v2 redirects
        'authentication/3id-did/3box-migration.md': 'pages/3box-migration.md'
        'authentication/3id-did/3id-connect.md': 'docs/advanced/standards/accounts/3id-did.md'
        'authentication/3id-did/lifecycle.md': 'pages/3id-lifecycle.md'
        'authentication/3id-did/method.md': 'docs/advanced/standards/accounts/3id-did.md'
        'authentication/3id-did/provider.md': 'docs/advanced/standards/accounts/3id-did.md'
        'authentication/3id-did/resolver.md': 'docs/advanced/standards/accounts/3id-did.md'
        'authentication/3id-did/security.md': 'pages/3id-security.md'
        'authentication/key-did/method.md': 'docs/advanced/standards/accounts/key-did.md'
        'authentication/key-did/provider.md': 'docs/advanced/standards/accounts/key-did.md'
        'authentication/key-did/resolver.md': 'docs/advanced/standards/accounts/key-did.md'
        'reference/glaze/overview.md': 'reference/glaze/index.md'
        'reference/self-id/overview.md': 'reference/self-id/index.md'
        'streamtypes/caip-10-link/api.md': 'reference/stream-programs/caip10-link.md'
        'streamtypes/caip-10-link/overview.md': 'docs/advanced/standards/stream-programs/caip10-link.md'
        'streamtypes/tile-document/api.md': 'reference/stream-programs/tile-document.md'
        'streamtypes/tile-document/overview.md': 'docs/advanced/standards/stream-programs/tile-document.md'
        'streamtypes/overview.md': 'docs/advanced/standards/stream-programs/index.md'
        'tools/glaze/overview.md': 'reference/glaze/index.md'
        'tools/idx/overview.md': 'docs/advanced/standards/application-protocols/identity-index.md'
        'tools/self-id/overview.md': 'reference/self-id/index.md'
        'build/the-ceramic-stack.md': 'protocol/overview.md'
        'build/frameworks/index.md': 'docs/introduction/next-steps.md'
        'build/cli/api.md': 'build/cli/quick-start.md'
        'learn/networks.md': 'protocol/networking/networks.md'
        'tools/glaze/example.md': 'docs/introduction/next-steps.md'
        'learn/glossary.md': 'protocol/overview.md'
        'reference/accounts/safe-did.md': 'protocol/accounts/decentralized-identifiers.md'
        'reference/accounts/nft-did.md': 'protocol/accounts/decentralized-identifiers.md'
        'reference/index.md': 'learn/welcome.md'
        'run/cas/community-cas.md': 'run/nodes/available.md'
        'protocol/index.md': 'protocol/overview.md'
        # other
        'run/nodes/community-nodes.md': 'run/nodes/nodes.md'
        'run/nodes/available.md': 'run/nodes/nodes.md'
        'run/nodes/node-providers.md':  'run/nodes/nodes.md'
  - search
